.login_register {
  width: 1526px;
  height: 750px;
  margin: auto;
  background: url(../../assets/login.jpg) no-repeat center;
  background-size: cover;
  position: relative;

  .container {
    position: absolute;
    top: 150px;
    right: 254px;
    width: 452px;
    text-align: center;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px #4343430d;

    .logo {
      position: absolute;
      top: 12px;
      right: 300px;

      img {
        width: 140px;
      }
    }

    .ant-card-head-title {
      font-size: 20px;
      font-weight: 700;
    }

    .login_remeber_forgot {
      .ant-row {
        width: 100%;

        .login-form-forgot {
          margin-left: 54px;
        }
      }
    }

    .login-form-button {
      margin-left: 60px;
    }

    ul li {
      position: absolute;
      width: 30px;
      height: 30px;
      list-style: none;
      opacity: 0;
      font-family: "STXingkai", serif;
    }

    .square li {
      top: -10vh;
      left: -48vw;
      // 执行动画 动画名 时长 线性的 无限次播放
      animation: square 2s linear infinite;
    }

    .square li:nth-child(2) {
      top: 10vh;
      left: -32vw;
      //设置动画延迟时间
      animation-delay: 0.3s;
    }

    .square li:nth-child(3) {
      top: -6vh;
      left: -10vw;
      //设置动画延迟时间
      animation-delay: 0.7s;
    }

    .square li:nth-child(4) {
      top: 40vh;
      left: -40vw;
      //设置动画延迟时间
      animation-delay: 1.2s;
    }

    .square li:nth-child(5) {
      top: 60vh;
      left: -20vw;
      //设置动画延迟时间
      animation-delay: 1.6s;
    }

    .circle li {
      top: 70vh;
      left: -5vw;
      //执行动画
      animation: circle 5s linear infinite;
    }

    .circle li:nth-child(2) {
      left: -15vw;
      animation-delay: 1s;
    }

    .circle li:nth-child(3) {
      left: -25vw;
      animation-delay: 2s;
    }

    .circle li:nth-child(4) {
      left: -35vw;
      animation-delay: 3s;
    }

    .circle li:nth-child(5) {
      left: -45vw;
      animation-delay: 4s;
    }

    .title {
      ul {
        li {
          position: absolute;
          width: 54px;
          height: 54px;
          top: -140px;
          left: 576px;
          font-family: "STXingkai", serif;
          font-size: 54px;
          font-weight: 700;
          animation: title 4s linear infinite;
        }
      }

      li:nth-child(2) {
        top: -50px;
        animation-delay: 500ms;
      }

      li:nth-child(3) {
        top: 40px;
        animation-delay: 1000ms;
      }

      li:nth-child(4) {
        top: 130px;
        animation-delay: 1500ms;
      }

      li:nth-child(5) {
        top: 220px;
        animation-delay: 2000ms;
      }

      li:nth-child(6) {
        top: 310px;
        animation-delay: 2500ms;
      }

      li:nth-child(7) {
        top: 400px;
        animation-delay: 3000ms;
      }

      li:nth-child(8) {
        top: 490px;
        animation-delay: 3500ms;
      }
    }

    //定义动画
    @keyframes square {
      0% {
        transform: scale(0);
        opacity: 1;
      }

      100% {
        transform: scale(5);
        opacity: 0;
      }
    }

    @keyframes circle {
      0% {
        transform: scale(0) rotateY(0deg);
        opacity: 1;
        top: 60vh;
        border-radius: 0;
      }

      100% {
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
        top: -10vh;
        border-radius: 50%;
      }
    }

    @keyframes title {
      0% {
        transform: scale(1);
        opacity: 0;
      }

      50% {
        transform: scale(1.5);
        opacity: 0.5;
      }

      100% {
        transform: scale(1);
        opacity: 0;
      }
    }
  }
}


/*
ul li {
  position: absolute;
  border: 1px solid #000;
  background-color: #000;
  width: 30px;
  height: 30px;
  list-style: none;
  opacity: 1;
}

.square li {
  top: 40vh;
  left: 60vw;
  // 执行动画 动画名 时长 线性的 无限次播放
  // animation: square 5s linear infinite;
}

.square li:nth-child(2) {
  top: 80vh;
  left: 10vw;
  //设置动画延迟时间
  animation-delay: 1s;
}

.square li:nth-child(3) {
  top: 80vh;
  left: 85vw;
  //设置动画延迟时间
  animation-delay: 2s;
}

.square li:nth-child(4) {
  top: 10vh;
  left: 70vw;
  //设置动画延迟时间
  animation-delay: 3s;
}

.square li:nth-child(5) {
  top: 10vh;
  left: 10vw;
  //设置动画延迟时间
  animation-delay: 4s;
}

.circle li {
  bottom: 0;
  left: 15vw;
  //执行动画
  // animation: circle 5s linear infinite;
}

.circle li:nth-child(2) {
  left: 35vw;
  animation-delay: 1s;
}

.circle li:nth-child(3) {
  left: 55vw;
  animation-delay: 2s;
}

.circle li:nth-child(4) {
  left: 75vw;
  animation-delay: 3s;
}

.circle li:nth-child(5) {
  left: 90vw;
  animation-delay: 4s;
}

//定义动画
@keyframes square {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    transform: scale(0) rotateY(0deg);
    opacity: 1;
    bottom: 0;
    border-radius: 0;
  }

  100% {
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
    bottom: 90vh;
    border-radius: 50%;
  }
}*/