.register {
  .login_register {
    .container {
      top: 70px;
      right: 254px;
    }

    ul li {
      position: absolute;
      width: 30px;
      height: 30px;
      list-style: none;
      opacity: 0;
      font-family: "STXingkai", serif;
    }

    .square li {
      top: 0vh;
      left: -48vw;
      // 执行动画 动画名 时长 线性的 无限次播放
      animation: square 2s linear infinite;
    }

    .square li:nth-child(2) {
      top: 20vh;
      left: -32vw;
      //设置动画延迟时间
      animation-delay: 0.3s;
    }

    .square li:nth-child(3) {
      top: 4vh;
      left: -10vw;
      //设置动画延迟时间
      animation-delay: 0.7s;
    }

    .square li:nth-child(4) {
      top: 50vh;
      left: -40vw;
      //设置动画延迟时间
      animation-delay: 1.2s;
    }

    .square li:nth-child(5) {
      top: 70vh;
      left: -20vw;
      //设置动画延迟时间
      animation-delay: 1.6s;
    }

    .circle li {
      top: 70vh;
      left: -5vw;
      //执行动画
      animation: circle 5s linear infinite;
    }

    .circle li:nth-child(2) {
      left: -15vw;
      animation-delay: 1s;
    }

    .circle li:nth-child(3) {
      left: -25vw;
      animation-delay: 2s;
    }

    .circle li:nth-child(4) {
      left: -35vw;
      animation-delay: 3s;
    }

    .circle li:nth-child(5) {
      left: -45vw;
      animation-delay: 4s;
    }

    .title {
      ul {
        li {
          position: absolute;
          width: 54px;
          height: 54px;
          top: -60px;
          left: 576px;
          font-family: "STXingkai", serif;
          font-size: 54px;
          font-weight: 700;
          animation: title 4s linear infinite;
        }
      }

      li:nth-child(2) {
        top: 30px;
        animation-delay: 500ms;
      }

      li:nth-child(3) {
        top: 120px;
        animation-delay: 1000ms;
      }

      li:nth-child(4) {
        top: 210px;
        animation-delay: 1500ms;
      }

      li:nth-child(5) {
        top: 300px;
        animation-delay: 2000ms;
      }

      li:nth-child(6) {
        top: 390px;
        animation-delay: 2500ms;
      }

      li:nth-child(7) {
        top: 480px;
        animation-delay: 3000ms;
      }

      li:nth-child(8) {
        top: 570px;
        animation-delay: 3500ms;
      }
    }
  }

  @keyframes circle {
    0% {
      transform: scale(0) rotateY(0deg);
      opacity: 1;
      top: 60vh;
      border-radius: 0;
    }

    100% {
      transform: scale(5) rotateY(1000deg);
      opacity: 0;
      top: 0vh;
      border-radius: 50%;
    }
  }
}